/*************************************************

Fonts

Google Font - https://fonts.google.com

font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-weight: 600;

font-family: 'Source Serif Pro', serif;
font-weight: 400;

*************************************************/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro&display=swap');

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

h1 {font-size: 40px}

h2 {font-size: 36px}

h3 {font-size: 32px}

h4 {font-size: 28px}

h5 {font-size: 24px}

h6 {font-size: 20px}

a, p , li {
    font-size: 16px;
    font-weight: 400;
}

p {font-family: 'Source Serif Pro', serif}



/*************************************************

HTML

*************************************************/
* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
    /* Disable zoom effect on landscape mode for Smartphones */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
}

a {
    color: #0371c8;
    text-decoration: none;
}

a:hover {
    color: #525252;
    /* Smooth transition */
    -o-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

header, section, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div.content {
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px; /* Top and Bottom Right and Left */
}



/*************************************************

Header

*************************************************/
header {}

header .content {}



/*************************************************

Section

*************************************************/
section {}

section .content {}



/*************************************************

Footer

*************************************************/
footer {}

footer .content {}



/*************************************************

Media Queries

*************************************************/
/* Screen size less than 1200px */
@media only screen and (max-width: 1200px) {}



/* iPhone X, XR, XS, XS Max, 11, 11 Pro and 11 Pro Max */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : landscape),
    only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape),
    only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {
        div.content {padding: 0px 40px /* Top and Bottom Right and Left */} /* Avoid content being hidden behind notch */
}